* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page__header {
    display: flex;
    justify-content: space-around;
    width: 80vw;
    align-items: center;
}

.newbook__btn {
    height: 4rem;
    width: 15vw;
    font-size: 20px;
}

h1 {
    text-align: center;
    margin: 2rem;
    font-size: 36px;
}

.books {
    width: 65vw;
    height: 80vh;
    outline: solid black;
    border-radius: 10px;
}

.header_row {
    background-color: lightblue;
    font-weight: bold;
}

.books__area {
    height: 70vh;
    overflow: hidden;
    overflow-y: scroll;
}

.books_row {
    width: 65vw;
    height: 10vh;
    outline: solid;
    outline-width: 0.8px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.deletebook__btn {
    padding: 0.3rem;
    background-color: rgb(202, 43, 43);
    margin-left: 0.45rem;
    border-radius: 5px;
    height: 25px;
    display: flex;
    align-items: center;
}

.books__title {
    margin: 1.5rem 1.5rem 1.5rem 1.8rem;
    width: 20vw;
}

.header__title {
    margin-left: 3.5rem;
}

.books__author {
    margin: 1.5rem;
    width: 12vw;
    text-align: center;
}

.books__pages {
    margin: 1.5rem;
    width: 8vw;
    text-align: center;
}

.books__id {
    margin: 1.5rem;
    width: 8vw;
    text-align: center;
}

.books__read_status {
    margin: 1.5rem;
    width: 4vw;
    text-align: center;
}

.dialog {
    position: absolute;
    top: 30%;
    left: 35%;
    width: 30vw;
    height: 25vw;
}

dialog::backdrop {
    background-color: rgba(55, 55, 55, 0.6);
    backdrop-filter: blur(5px);
}

.dialog__header {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}

.close__btn {
    width: 2rem;
    height: 2rem;
    font-size: 1.5rem;
}

.dialog__content {
    padding: 0rem 1rem;
}

.input__field {
    margin: 1rem 0rem;
    display: flex;
}

.input__label {
    margin-right: 1rem;
}

.input__description {
    width: 100%;
}

.dialog__footer {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2rem;
}

.footer__btn {
    width: 25%;
    height: 1.75rem;
    font-size: 1rem;
}

.cancel__btn {
    color: red;
}

.submit__btn {
    color: rgb(5, 182, 5);
}
